* {
  z-index: 1;
}

button {
  border: 0;
  background-color: transparent;
}

.backgroundTrans {
  background: transparent;
}

.bigFont {
  font-size: 3.5rem;
}
.smallFont {
  font-size: 1.25rem;
}
.ul {
  list-style-type: none;
}
.ccr {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ccc {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Zoom in animation */
.zoom {
  background-color: transparent;
  border: 2px solid #474747;
  border-radius: 12px;
  transition: all 0.15s ease-in-out;
  color: #dedede;
}
.zoom:hover {
  box-shadow: 0 0 20px 0 #737373 inset, 0 0 2px 2px #474747;
  border: 2px solid #dedede;
}

/* SmallBox */
.sHTML {
  height: 50px;
  background: linear-gradient(125deg, #f12711, #f5af19);
}
.sCSS {
  height: 50px;
  background: linear-gradient(125deg, #4492e0, #253671);
}
.sJS {
  height: 50px;
  background: linear-gradient(125deg, #ffe1bc, #ed8f03);
}
.sAPI {
  height: 50px;
  background: linear-gradient(125deg, #11998e, #32e0d1);
}
.sReact {
  height: 50px;
  background: linear-gradient(125deg, #8ed9ea, #0083b0);
}
.sBootstrap {
  height: 50px;
  background: linear-gradient(125deg, #6a3093, #ae6fee);
}
.sSCSS {
  height: 50px;
  background: linear-gradient(125deg, #ffab74, #d8e089);
}

.btnStyle {
  padding: 8px;
  border: 1.5px solid #8a8a8a;
  background: transparent;
  border-radius: 10px;
  transition: all 0.5s ease;
}

.btnStyle:hover {
  background: white;
}

.btnLinkStyle {
  text-align: center;
  padding: 8px;
  margin: 0.5rem;
  border: 1.5px solid #8a8a8a;
  background: linear-gradient(45deg, #eae8a1, #f3f8de);
  border-radius: 10px;
  transition: all 0.5s ease;
}

.btnLinkStyle:hover {
  scale: 1.05;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 5px 0px,
    rgba(14, 30, 37, 0.32) 0px 3px 5px 0px;
}
