* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Play", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #eaeaea, #dbdbdb, #f2f2f2, #ada996);
  z-index: -1;
}
